<div class="card shadow-sm mb-3" >
  <img 
  class="bd-placeholder-img card-img-top" 
  width="100%"
  [src]="livro.img" >

  <div class="card-body">
    <p class="card-text">{{ livro.name }}</p>
    <p class="card-text">{{ livro.category }}</p>
    <p class="card-text">{{ livro.quantity }}</p>
    <p class="card-text">{{ livro.price | currency:'BRL' }}</p>
    
    <div class="btn-gruop d-flex justify-content-between">
      <button type="button" class="btn btn-primary btn-sm">Comprar</button>
      <button type="button" class="btn btn-outline-primary btn-sm">Detalhes</button>
    </div>
    
  </div>
  
</div>